{{ define "content" }}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="box">
                    <h1 class="title is-2 has-text-centered">{{ .Group.Name }}</h1>
                    <p class="subtitle is-6">Created: {{ .Group.CreatedAt }}</p>
                    <p class="mt-4">{{ .Group.Description }}</p>
                    <a href="/dashboard">&#8592; Back to dashboard</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}