{{define "content"}}
<section class="hero is-link is-fullheight">
    <div class="hero-body">
        <div class="">
            <p class="title">Gift Lock</p>
            <p class="subtitle">
                <strong>Gift Lock</strong> gift giver
            </p>
            <p class="subtitle">
                {{ if .User }}
                Welcome back, {{ .User.Username }}! .
                {{ else }}
                Welcome to Gift Lock! Please log in or register.
            <div class="buttons">
                <a href="/login" class="button is-primary">Login</a>
                <a href="/register" class="button is-primary">Register</a>
            </div>
            {{ end }}
            </p>
        </div>
    </div>
</section>
{{end}}