{{define "content"}}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <div class="box">
                    <h2 class="title is-3 has-text-centered">Create Account</h2>

                    <form method="POST" action="/register">
                        <div class="field" id="username-check">
                            <label class="label" for="username">Username</label>
                            <div class="control">
                                <input class="input" type="text" id="username" name="username"
                                    placeholder="Enter your username" hx-post="/users/search/check_username_exists"
                                    hx-trigger="keyup changed delay:500ms" hx-target="#username-check"
                                    hx-swap="innerHTML" />
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="password">Password</label>
                            <div class="control">
                                <input class="input" type="password" id="password" name="password"
                                    placeholder="Enter your password" />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-warning is-fullwidth" type="submit">
                                    Create Account
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="has-text-centered mt-4">
                        <p>Already have an account?
                            <a href="/login" class="has-text-primary">Sign in here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}