{{define "users"}}
{{ if not .Users }}
<div class="notification is-light">
    <p>No users found.</p>
</div>
{{ end }}
{{ range .Users }}
<div class="panel-block" id="user-{{ .ID }}">
    <div class="level is-mobile" style="width: 100%;">
        <div class="level-left">
            <div class="level-item">
                <div class="media">
                    <div class="media-left">
                        <span class="icon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="media-content">
                        <p class="title is-6">{{ .Username }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <form hx-post="/groups/{{ $.GroupID }}/add-member" hx-target="#user-search-results">
                    <input type="hidden" name="user_id" value="{{ .ID }}">
                    <button class="button is-small is-primary" type="submit">
                        Add to Group
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{end}}